#grid {
    display: flex;
    flex-wrap: wrap;
}

.square100 {
    width: 500px;
}

.square81 {
    width: 450px;
}

.square49 {
    width: 350px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    border: 1px solid black;
}

.activation {
    background-color: aqua;
}